<h1>Get These COIN$!</h1>
<b>Nome:</b> Julia Gato Heitor
<hr />

<h2>
  BitCoins <span class="material-icons">currency_exchange</span>
  <!--&nbsp;<button (click)="updateBitcoinRates()">Atualizar</button>-->
</h2>
<table>
  <tr>
    <th>Data/hora</th>
    <th>USD</th>
    <th>BRL</th>
  </tr>
  <tr *ngFor="let rate of bitcoinService.list">
    <td>{{ rate.time.updated }}</td>
    <td>{{ rate.bpi.USD.rate_float }}</td>
    <td>{{ rate.bpi.BRL.rate_float }}</td>
  </tr>
</table>
<!--
<h2>GitHub Repositories</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Full Name</th>
    <th>Link</th>
  </tr>
  <tr *ngFor="let repo of gitHubService.repos">
    <td>{{ repo.id }}</td>
    <td>{{ repo.full_name }}</td>
    <td><a href="{{ repo.html_url }}">Link</a></td>
  </tr>
</table>
-->
